.landing {
  height: calc(
    100vh - var(--header-height)
  ); /* Set the height to 100% of the viewport */
  background-image: url("../../../public/image/bg.png"); /* Change the URL to the location of your background image */
  background-size: cover; /* Scale the background image to cover the entire div */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-position: center; /* Center the background image */
  display: flex; /* Display the contents as a flex container */
  align-items: center; /* Align the contents vertically in the center */
  justify-content: flex-end; /* Align the contents horizontally in the center */
  padding: 20px;
}

.form {
  padding: 20px;
  background-color: rgb(53 187 235 / 43%);
  color: white;
  border: 2px solid white;
  text-align: center;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}
/* For Large screen */
@media screen and (min-width: 960px) {
  .landig-content {
    margin-right: 100px;
  }
}
.landing-home-header {
  display: flex;
  align-items: center;
  background-color: #deedfe;
  color: #636363;
  padding: 0 20px;
  height: var(--header-height);
  white-space: nowrap;
}
.landing-home-header-image {
  padding: 5px;
  width: 60px;
  height: 60px;
}
.landig-content {
  max-width: 400px;
}
.landing-title {
  line-height: 1.2;
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  color: #636363;
}
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 2px solid white;
  cursor: pointer;
}

input[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  background-color: #152605;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0a0b0a;
}

.submitCredentials {
  background-color: #6fbeeb;
  border: 1px solid rgba(255, 255, 255, 0.62);
  padding: 7px 20px;
  font-size: 16px;
  margin-top: 17px;
  margin-bottom: 10px;
  color: white;
  margin: 4px 10px;
  height: 40px;
  width: 100px;
  box-sizing: border-box;
}
.submitCredentials:hover {
  background-color: #6fbeeb9c;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s all ease;
}
.SigninLogo {
  padding-bottom: 10px;
}

@media screen and (max-width: 560px) {
  .form {
    max-width: 360px;
  }
  .landing {
    justify-content: center;
  }
  .landing-home-header {
    font-size: 12px;
  }
}
