* {
  margin: 0;
  padding: 0;
}

.home {
  background-color: #fafafa;
  height: 100vh;
}

.home-header {
  /* padding: 20px; */
  background-color: white;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}
.home-content_center {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

.home-content {
  display: flex;
  margin: var(--space-base);
}
.home-footer {
  background-color: aqua;
}
/* ==================MEDIA QUERIES (MEDIUM DEVICES)==================== */

@media screen and (max-width: 1019px) {
  .newNavR {
    display: none;
  }
}

/* ==================MEDIA QUERIES (SMALL DEVICES)==================== */

@media screen and (max-width: 600px) {
}
