.newNavR{
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 30vh;
    background-color: #ecf5fd;
    position: fixed;
    border: solid #deecfe;
}

.newNavR h3{
    border: solid #deecfe;
    padding: 0;

}

.newNavR img {
    height: 80px;
    width: 80px;
}

.newNavR--scroll{
    height: 97vh;
    position: fixed;
    overflow-y: scroll;
}

.newNavR--list{
    height: 95vh;
}
.NavR--article{
    display: flex;
    font-size: .7rem;
    margin-bottom: 1rem;
    /* border: solid black; */
    padding: 1em;
}