.newNavR {
  right: 0;
  top: 0;
  height: 100vh;
  width: 30vh;
  background-color: #ecf5fd;
  position: fixed;
  border: 1px solid #deecfe;
}

.newNavR h3 {
  border-bottom: 1px solid #deecfe;
  padding: 0.6rem;
  margin-bottom: 0.3em;
  text-align: center;
}

.newNavR img {
  max-height: 125px;
  max-width: 190px;
  background-color: black;
}

.NavR--article:hover {
  background-color: rgba(54, 110, 252, 0.1);
}

.newNavR--scroll {
  height: 92vh;
  position: fixed;
  overflow: scroll;
  width: 100%;
  display: flex;
  max-width: 290px;
  align-items: center;
  justify-content: center;
}

.newNavR--list {
  height: 95vh;
}

.NavR--article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  padding: 1rem;
  width: 80%;
  text-align: center;
}

.NavR--article p {
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 12px;
}

.NavR--article a {
  display: flex;
  align-items: center;
}

.img-title--article {
  display: flex;
}
