.profile-image-png {
  height: 100px;
  width: 100px;
}

profile-img {
  display: block;
}

.profile-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 230px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
  padding: 20px 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  float: left;
  width: calc(33.333% - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 48px;
}

.profile-image img {
  border-radius: 50%;
  margin-left: 60px;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(66.666% - 32px);
}

.profile-user-settings {
  margin-top: 16px;
}

.profile-user-name {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
}

.profile-edit-btn {
  font-size: 22px;
  line-height: 1.8;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  padding: 0 36px;
  margin-left: 32px;
}

.profile-settings-btn {
  font-size: 32px;
  margin-left: 16px;
}

.profile-stats {
  margin-top: 36px;
}

.profile-stats li {
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  margin-right: 64px;
  cursor: pointer;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}

.profile-bio {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 36px;
}
.profile-bio > p {
  margin-top: 20px;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600;
}

/* Gallery Section */

.profile-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -16px -16px;
  padding-bottom: 48px;
  border: 1px solid black;
}

.profile-gallery-item {
  position: relative;
  flex: 1 0 352px;
  margin: 16px a;
  color: #fff;
  cursor: pointer;
}
.gallery--list {
  --n: 3;
  --m: 3;
  --g: 20px;
  --f: 1.5;
  grid-gap: var(--g);
  display: grid;
  gap: var(--g);
  grid-template-columns: repeat(var(--m), auto);
  height: calc(var(--n) * var(--s) + (var(--n) - 1) * var(--g));
  /* padding: 0 30px; */
  width: calc(var(--m) * var(--s) + (var(--m) - 1) * var(--g));
}

.container {
  max-width: 800px;
  margin: 0 30px 0 330px;
}
.profile-gallery-item:hover .profile-gallery-item-info,
.profile-gallery-item:focus .profile-gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.profile-gallery-item-info {
  display: none;
}

.profile-gallery-item-info li {
  display: inline-block;
  font-size: 27px;
  font-weight: 600;
}

.profile-gallery-item-likes {
  margin-right: 35px;
}

.profile-gallery-item-type {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 40px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
  transform: rotateY(180deg);
}

.profile-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Loader */

.loader {
  width: 80px;
  height: 80px;
  border: 10px solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 640px) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 64px 0;
  }

  .profile::after {
    display: none;
  }

  .profile-image,
  .profile-user-settings,
  .profile-bio,
  .profile-stats {
    float: none;
    width: auto;
  }

  .profile-image img {
    width: 123px;
    border-radius: 50%;
    margin: 50px 0 0 50px;
  }

  .profile-user-settings {
    flex-basis: calc(100% - 171px);
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
  }

  .profile-user-name {
    font-size: 2.2rem;
  }

  .profile-edit-btn {
    order: 1;
    padding: 0;
    text-align: center;
    margin-top: 35px;
  }

  .profile-edit-btn {
    margin-left: 0;
  }

  .profile-bio {
    font-size: 22px;
    margin-top: 24px;
  }

  .profile-edit-btn,
  .profile-bio,
  .profile-stats {
    flex-basis: 100%;
  }

  .profile-stats {
    order: 1;
    margin-top: 24px;
  }

  .profile-stats ul {
    display: flex;
    text-align: center;
    padding: 19px 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
  }

  .profile-stats li {
    font-size: 22px;
    flex: 1;
    margin: 0;
  }

  .profile-stat-count {
    display: block;
  }
  .post-image {
    width: 100%;
    max-height: 350px;
    min-height: 350px;
    object-fit: cover;
  }
  .main {
    margin: 0px !important;
  }
}
@media screen and (max-width: 820px) {
  /* .main {
    margin: 0px !important;
  } */
  .post-image {
    width: 100%;
    max-height: 350px;
    min-height: 350px;
    min-width: 0px !important;
    object-fit: cover;
  }
  .profile-image img {
    border-radius: 50%;
    border-radius: 50%;
    margin: 50px 0 0 50px;
  }
  .profile-stat-count {
    font-size: 22px;
  }
  .profile-bio {
    font-size: 22px;
    font-weight: bold;
  }
  .main {
    margin: 0px -230px;
  }
  .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 64px 0;
  }
  .profile-container {
    max-width: 840px;
    margin: 0 auto;
  }
  .profile-container {
    max-width: 830px;
    margin: 0 auto;
    padding: 0;
  }
  .container {
    max-width: 100%;
  }
  .gallery--list {
    max-width: 600px;
    --n: 2;
    --m: 2;
    --g: 30px;
    --f: 1.5;
    grid-gap: var(--g);
    display: grid;
    gap: var(--g);
    grid-template-columns: repeat(var(--m), auto);
    height: calc(var(--n) * var(--s) + (var(--n) - 1) * var(--g));
    /* padding: 0 30px; */
    width: calc(var(--m) * var(--s) + (var(--m) - 1) * var(--g));
  }
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 350px;
  }
}

/* Spinner Animation */

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling.

*/

@supports (display: grid) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 48px;
    align-items: center;
  }

  .profile-image {
    grid-row: 1 / -1;
  }

  .profile-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    grid-gap: 32px;
  }

  .profile-image,
  .profile-user-settings,
  .profile-stats,
  .profile-bio,
  .profile-gallery-item,
  .profile-gallery {
    width: auto;
    margin: 0;
  }

  @media (max-width: 640px) {
    .profile-gallery-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: flex;
      margin: 0 auto;
    }
    .container {
      max-width: 420px;
      margin: 0 30px;
    }
    .profile {
      grid-template-columns: auto 1fr;
      grid-row-gap: 24px;
      padding: 25px 0;
    }

    .profile-image {
      width: 50px;
      height: 50px;
    }
    .profile-bio > p {
      font-size: 18px;
      padding-top: 20px;
    }

    .profile-user-settings {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 16px;
    }
    .profile-stats li {
      font-size: 14px;
      flex: 1 1;
      margin: 0;
    }
    .profile-gallery-image {
      width: 80%;
      height: 80%;
      object-fit: cover;
      display: flex;
      margin: 0 auto;
    }

    .profile-gallery-item:hover .profile-gallery-item-info,
    .profile-gallery-item:focus .profile-gallery-item-info {
      background-color: transparent;
    }

    .profile-container {
      padding: 0px 44px;
    }
    .profile-edit-btn,
    .profile-stats,
    .profile-bio {
      grid-column: 1 / -1;
    }

    .profile-user-settings,
    .profile-edit-btn,
    .profile-settings-btn,
    .profile-bio,
    .profile-stats {
      margin: 0;
    }

    .gallery--list {
      --n: 1;
      --m: 1;
      --g: 5px;
      --f: 1.5;
      grid-gap: var(--g);
      display: grid;
      gap: var(--g);
      grid-template-columns: repeat(var(--m), auto);
      height: calc(var(--n) * var(--s) + (var(--n) - 1) * var(--g));
      padding: 0 5px;
      width: calc(var(--m) * var(--s) + (var(--m) - 1) * var(--g));
    }

    .container {
      max-width: 800px;
    }
  }
}
