.profile{
    border: solid black;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    'sideBar info info info'
    'sideBar posts posts posts'
    'sideBar posts posts posts'
    'sideBar posts posts posts';
}

.profileSideBarContainer{
    grid-area: sideBar;  
    border: solid black; 
}


.profileInfoContainer{
    grid-area: info;
    border: solid black;
}


.profilePostsContainer{
    grid-area: posts;
    border: solid black
}