.post-image {
  width: 100%;
  object-fit: contain;
}
.post {
  background-color: white;
  max-width: 470px;
  border: 3px solid #2196f340;
  margin-bottom: var(--space-base-double);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-delete-btn {
  font-weight: bold;
  cursor: pointer;
}

.post-text {
  font-weight: normal;
}

strong {
  font-weight: bold;
}
.post-project {
  font-size: 14px;
}
.post-project__name {
  margin-left: 10px;
  font-size: 20px;
}
.post_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 15px 10px 10px 10px;
  background-color: rgb(222 236 254);
}
.post-avatar_left {
  display: flex;
}
.post-avatar {
  margin-right: 10px;
}

.post-text {
  padding: 20px;
}

.post-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  overflow: hidden;
  padding-bottom: 10px;
  border-top: 1px solid lightgray;
  background-color: #deecfe57;
}

.post-like-title {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  padding: 15px 10px 10px 10px;
}
.post-navbar-menu__icon {
  width: var(--icon-size-base);
  height: var(--icon-size-base);
  margin-left: 10px;
  cursor: pointer;
}
.heart-button {
  cursor: pointer;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-button-icon {
  font-size: 24px;
  cursor: pointer;
  background: transparent;
  margin-right: 10px;
}

.heart-button-icon-liked {
  color: rgb(226, 19, 23);
}

.heart-button-heartQty {
  font-size: 16px;
  margin-right: 10px;
}

.hearted {
  animation: pulse 1s ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }
}

.delete-avatar {
  font-size: var(--icon-size-base);
  font-weight: bold;
}

.like-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: system-ui, -apple-system, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  background: #6e6d70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #dfdedf;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.like-btn:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

h4 {
  font-size: smaller;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* add a blur effect to the background */
  backdrop-filter: blur(2px);
  /* make sure the popup is displayed above the blurred background */
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 350px;
}

.popup {
  background-color: #3b91d780;
  padding: 20px;
  border-radius: 5px;
  z-index: 2;
  min-width: 450px;
  min-height: 450px;
  box-shadow: 2px 3px 15px black;
}

.popup input {
  border-radius: 0.5rem;
  border: solid #00000024;
}

.popup-btns > button {
  border: solid #00000024;
  background-color: #3b91d7;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 185px;
  color: white;
}
.popup-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.edit_btns:hover {
  background-color: rgba(0, 0, 0, 0.176) !important;
  color: white;
  border: solid 1px rgba(255, 255, 255, 0.337);
  /* transform: scale(1.1); */
  transition: 0.3s all ease;
}

.popup-container h3 {
  text-align: center;
  color: white;
  font-weight: 900;
  font-size: 24px;
}

.popup label {
  font-size: small;
  margin-bottom: 0;
  color: white;
}

.ExitEdit {
  background-color: transparent;
}

.ExitEdit:hover {
  cursor: pointer;
  transition: all 800ms ease;
}

.edit_UploadWidget {
  width: 100%;
  padding: 12px;
  margin: 20px 0 20px 0;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 0.5rem;
  border: solid #56565668;
  background-color: #ffffff;
}

.edit_UploadWidget:hover {
  background-color: rgba(0, 0, 0, 0.176) !important;
  color: white;
  border: solid 1px rgba(255, 255, 255, 0.337);
  transition: all 800ms ease;
}

.popup input:hover {
  background-color: rgba(0, 0, 0, 0.176) !important;
  color: white;
  border: solid 1px rgba(255, 255, 255, 0.337);
  transition: all 800ms ease;
}

.edit_exit {
  color: white;
  height: 20px;
  width: 20px;
  font-weight: 900;
}

.edit_header {
  margin-bottom: 20px;
}

.post-github {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.post-github:hover {
  transition: all 300ms ease;
}

.post-update-btn {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.post-update-btn:hover {
  transition: all 300ms ease;
}
.post-like-username {
  font-size: 14px;
  font-weight: 500;
}
/* .post-navbar-menu__icon {
  color: black;
} */
.post-navbar-menu__icon:hover {
  color: white;
}
