@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --color-bg: rgb(62, 63, 57);
  --color-bg-variant: rgb(222 236 254);
  --color-primary: #1a1b1c;
  --color-primary-variant: rgb(222 236 254);
  --color-btn: rgb(207 225 244) /*--color-white: #fff*/;
  --color-light: #fafafa;
  --color-light-blue: #fafafa;
  --transition: all 400ms ease;
  --header-height: 60px;
  --icon-size-base: 24px;
  --space-base: 20px;
  --space-base-double: calc(var(--space-base) * 2);
  --space-base-large: calc(var(--space-base) * 5);
  --space-base-medium: 8px;
  --space-base-small: calc(var(--space-base-medium) / 2);
  --space-base-half: calc(var(--space-base) / 2);
  --navbar-width: 200px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-light);
  color: var(--color-primary);
  height: 100%;
  margin: 0;
}

/*=====================GENERAL STYLES =========================== */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  list-style: none;
  text-decoration: none;
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 5px 15px;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary-variant);
  background-color: var(--color-btn);
}

.btn:hover {
  color: var(--color-bg);
  background-color: white;
  border-color: #a4c6e4;
  transform: scale(0.9);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

.logo_image {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* ==================MEDIA QUERIES (MEDIUM DEVICES)==================== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 5px;
  }
}

/* ==================MEDIA QUERIES (SMALL DEVICES)==================== */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-ms);
  }

  section {
    margin-bottom: 5px;
  }
}
